.counter{
    width:50%;
    border:1px solid hsl(0, 0%, 77%);
margin:0 25% 30px 25%;
background-color: white;
border-radius:20px;
display:flex;
flex-direction: column;
padding:20px;
}
.count{
    display:flex;
    flex-direction: row;
    height:100px;
}
.count div:not(.last){
border-right: 1px solid hsl(0, 0%, 77%);
}

.count h2, .counter p {
    text-align: left;
    margin:0;
    padding:0;
}
.count div{
    width: 33.3%;
    padding:20px;
}

 
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: hsl(176, 51%, 47%);
    box-shadow: -100vw 0 0 100vw hsl(176, 51%, 47%);
}

@media only screen and (max-width: 600px) {
    .count{
flex-direction: column;
height:auto;
width:90%;
align-items: center;
    }
    .counter{
        width:90%;
        margin:auto;
        margin-bottom:15px;
        justify-content: center;
        align-items: center;
    }
    .count div{
            width:auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .mobile-range{
            width:100%;
        }
        .count div:not(.last){
            border-bottom: 1px solid hsl(0, 0%, 77%);
            border-right: none;
        }
}