.counter{
    width:50%;
    border:1px solid hsl(0, 0%, 77%);
position:absolute;
margin:13% 25% 0 25%;
background-color: white;
border-radius:20px;
display:flex;
flex-direction: column;
padding:20px;
}
.count{
    display:flex;
    flex-direction: row;
    height:100px;
}
.count div:not(.last){
border-right: 1px solid hsl(0, 0%, 77%);
}

.count h2, .counter p {
    text-align: left;
    margin:0;
    padding:0;
}
.count div{
    width: 33.3%;
    padding:20px;
}

 
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: hsl(176, 51%, 47%);
    box-shadow: -100vw 0 0 100vw hsl(176, 51%, 47%);
}