*{
  padding:0;
  box-sizing: border-box;

}
body{
  font-family: 'Commissioner', sans-serif;
  background-color: hsl(0, 0%, 98%);
 height:auto;
 margin-bottom:60px;
}

.mask{
    mask-image: linear-gradient(black, transparent);
}
.maska{
  width:100%;
  height:180vh;
  position:absolute;
  background-color: black;
  opacity: 0.5;
  z-index: 4;
  top:-1vh;
}

@media screen and (max-width: 600px) {
  .maska{
    height:467vh;
  }
}
