*{
  padding:0;
  box-sizing: border-box;

}
body{
  font-family: 'Commissioner', sans-serif;
  background-color: hsl(0, 0%, 98%);
 height:100vh;
}
/* body{
  mask-image: linear-gradient(black, transparent);
} */
.mask{
    mask-image: linear-gradient(black, transparent);
}
.maska{
  width:100%;
  height:180vh;
  position:absolute;
  background-color: black;
  opacity: 0.5;
  z-index: 4;
  top:-1vh;
}